<div
  class="mt-5 w-full h-10/12 grid grid-cols-1 items-center justify-center lg:grid-cols-2"
>
  <div>
    <div class="mt-5 mx-auto w-10/12 border-primary border-2 rounded-2xl p-5">
      <h2 class="font-bold text-4xl lg:text-6xl text-center my-5">Log in</h2>
      <form
        class="flex flex-col items-center p-5"
        [formGroup]="loginForm"
        (ngSubmit)="logUserIn()"
      >
        <mat-form-field
          class="w-12/12 lg:w-11/12 my-2"
          hideRequiredMarker="true"
        >
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Example@gmail.com"
          />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="loginForm.controls.email.hasError('required')">
            Please fill in the field.
          </mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('email')">
            Invalid email format.
          </mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('minlength')">
            The value must be at least
            {{ loginForm.controls.email.errors!["minlength"].requiredLength }}
            characters long.
          </mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('maxlength')">
            The value you inputted can't be longer than
            {{ loginForm.controls.email.errors!["maxlength"].requiredLength }}
            characters long.
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="w-12/12 lg:w-11/12 my-2"
          hideRequiredMarker="true"
        >
          <mat-label>Password</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            Please fill in the field.
          </mat-error>
          <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">
            The value must be at least
            {{
              loginForm.controls.password.errors!["minlength"].requiredLength
            }}
            characters long.
          </mat-error>
          <mat-error *ngIf="loginForm.controls.password.hasError('maxlength')">
            The value you inputted can't be longer than
            {{
              loginForm.controls.password.errors!["maxlength"].requiredLength
            }}
            characters long.
          </mat-error>
        </mat-form-field>

        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="loginForm.invalid"
        >
          Log In
        </button>
      </form>
    </div>

    <div class="text-center font-medium p-4">
      First time here ?
      <a routerLink="/auth/signup" mat-button
        ><span class="text-primary font-medium p-2">Create account</span></a
      >
    </div>
  </div>
  <div class="w-6/6 aspect-video p-7">
    <img
      class="w-full object-cover object-center"
      src="assets/illustrations/login-ill.svg"
      alt=""
    />
  </div>
</div>
