<mat-toolbar class="flex items-center justify-between">
  <div class="basis-1 flex">
    <button
      mat-icon-button
      routerLink="/dashboard/courses"
      class="mr-1 flex items-center justify-center"
      aria-label="sidenav icon"
    >
      <mat-icon>keyboard_arrow_left </mat-icon>
    </button>
    <span class="p-2 text-2xl"><a>EduClass</a></span>
  </div>
  <span class="basis-3 grow"></span>
  <div
    class="overflow-hidden w-9 h-9 rounded-full cursor-pointer"
    [matMenuTriggerFor]="menu"
  >
    <img
      class="w-full object-cover object-center"
      src="https://picsum.photos/200/300"
      alt="profile image"
    />
  </div>

  <mat-menu #menu="matMenu">
    <a mat-menu-item class="ml-3">
      <mat-icon>account_circle</mat-icon> <span>Profile</span></a
    >
    <button mat-menu-item (click)="logOut()" color="warn" class="basis-1 ml-3">
      <mat-icon>logout</mat-icon><span>Log-out</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="w-full h-[90dvh]" autosize>
  <mat-drawer class="w-[280px]" #drawer mode="side" opened="true">
    <div
      class="overflow-hidden mt-3 w-5/6 shadow aspect-square mx-auto rounded-lg"
    >
      <img
        class="w-full object-cover object-center"
        src="https://picsum.photos/200/300"
        alt="profile image"
      />
    </div>
    <ul class="flex flex-col mt-6">
      <li
        class="w-full text-gray-800 flex items-center p-5 text-xl cursor-pointer transition-all hover:text-slate-900 hover:bg-slate-200"
      >
        <span>{{ courseData.name }} course</span>
      </li>
      <mat-divider></mat-divider>
      <!-- <li
        class="w-full text-gray-800 flex items-center p-5 text-xl cursor-pointer transition-all hover:text-slate-900 hover:bg-slate-200"
      >
        <span></span>
      </li>
      <mat-divider></mat-divider> -->
    </ul>
  </mat-drawer>

  <mat-drawer-content class="">
    <button mat-mini-fab (click)="drawer.toggle()">
      <mat-icon class="mat-18">{{
        drawer.opened ? "keyboard_arrow_left" : "keyboard_arrow_right"
      }}</mat-icon>
    </button>
    <mat-tab-group>
      <mat-tab label="Overview">
        <div class="p-5">
          <h2 class="text-5xl font-semibold">{{ courseData.name }}</h2>
          <p class="my-5">{{ courseData.description }}</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            aliquid esse mollitia recusandae eveniet molestias voluptatem?
            Sapiente veritatis ab harum quam, eaque officiis perferendis ullam
            modi minus provident necessitatibus porro aspernatur a dicta earum
            cupiditate ut vero libero laboriosam corrupti sint praesentium iure
            repellat! Eos sapiente maxime quidem totam illum!
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Documents">
        <table mat-table [dataSource]="documents" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>File Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef>Size</th>
            <td mat-cell *matCellDef="let element">
              {{ elementSize(element.size) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Download">
            <th mat-header-cell *matHeaderCellDef>Download</th>
            <td mat-cell *matCellDef="let element">
              <a [href]="element.url" target="_blank" mat-button
                ><mat-icon class="mat-18">file_download</mat-icon>Download</a
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedDocColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedDocColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No documents added yet</td>
          </tr>
        </table>
        <button
          mat-fab
          class="fixed"
          color="primary"
          (click)="openDocDialog()"
          aria-label="Add Document"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-tab>
      <mat-tab label="Assessments">
        <table mat-table [dataSource]="assessments" class="mat-elevation-z8">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Assessment Title</th>
            <td mat-cell *matCellDef="let element">
              {{ element.title }}
            </td>
          </ng-container>

          <ng-container matColumnDef="questions">
            <th mat-header-cell *matHeaderCellDef>Questions</th>
            <td mat-cell *matCellDef="let element">
              {{ element.questions.length }}
            </td>
          </ng-container>

          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef>Take Assessment</th>
            <td mat-cell *matCellDef="let element">
              <button (click)="startQuiz(element)" mat-button>Start</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedAssColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedAssColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No Assessments added yet</td>
          </tr>
        </table>

        <button
          mat-fab
          class="fixed"
          color="primary"
          (click)="openAssDialog()"
          aria-label="Add Document"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
