<div class="p-5 grid grid-cols-1 lg:grid-cols-3 gap-4">
  <div class="flex flex-wrap col-span-full items-center gap-4 justify-evenly">
    <div
      class="w-[250px] aspect-video p-5 border-2 shadow-md border-violet-400 rounded-xl text-center"
    >
      <p class="text-xl font-medium">Enrolled students</p>
      <span class="font-semibold text-2xl text-primary block mt-4">16</span>
    </div>
    <div
      class="w-[250px] aspect-video p-5 border-2 shadow-md border-violet-400 rounded-xl text-center"
    >
      <p class="text-xl font-medium">Created courses</p>
      <span class="font-semibold text-2xl text-primary block mt-4">6</span>
    </div>
    <div
      class="w-[250px] aspect-video p-5 border-2 shadow-md border-violet-400 rounded-xl text-center"
    >
      <p class="text-xl font-medium">Total rating</p>
      <span class="font-semibold text-2xl text-primary block mt-4">4.2</span>
    </div>
  </div>

  <div class="p-4 shadow-md mt-3 col-span-2">
    <h2 class="text-3xl font-medium text-center">Added Courses</h2>
    <div class="flex gap-2 flex-col mt-2">
      <div class="flex justify-between items-center">
        <span>Daphne Mercer</span>
        <a mat-button>Link</a>
      </div>
      <mat-divider> </mat-divider>
      <div class="flex justify-between items-center">
        <span>Arsenio Tanner</span>
        <a mat-button>Link</a>
      </div>
      <mat-divider> </mat-divider>
      <div class="flex justify-between items-center">
        <span>Skyler Stout</span>
        <a mat-button>Link</a>
      </div>
      <mat-divider> </mat-divider>
      <div class="flex justify-between items-center">
        <span>Eliana Ayala</span>
        <a mat-button>Link</a>
      </div>
    </div>
  </div>
  <mat-card class="">
    <mat-calendar></mat-calendar>
  </mat-card>
</div>
