<input
  [type]="type"
  class="form-control"
  [formControl]="control"
  [ngClass]="{ 'is-invalid': checkError() }"
/>
<ng-container *ngIf="checkError()">
  <div *ngIf="control.errors!['required']">Please fill in the field.</div>
  <div *ngIf="control.errors!['minlength']" class="invalid-feedback">
    The value you inputted is
    {{ control.errors!["minlength"].actualLength }} characters long. It must be
    at least {{ control.errors!["minlength"].requiredLength }}
    characters long.
  </div>
  <div *ngIf="control.errors!['maxlength']" class="invalid-feedback">
    The value you inputted is
    {{ control.errors!["maxlength"].actualLength }} characters long. It can't be
    longer than {{ control.errors!["maxlength"].requiredLength }}
    characters long.
  </div>
</ng-container>

<mat-form-field class="w-10/12">
  <mat-label>{{ label }}</mat-label>
  <input [type]="type" matInput [formControl]="control" />
  <mat-error *ngIf="control.hasError('required')">
    Please fill in the field.
  </mat-error>
  <mat-error *ngIf="control.hasError('minlength')">
    The value must be at least {{ control.errors!["minlength"].requiredLength }}
    characters long.
  </mat-error>
  <mat-error *ngIf="control.hasError('maxlength')">
    The value you inputted can't be longer than
    {{ control.errors!["maxlength"].requiredLength }} characters long.
  </mat-error>
</mat-form-field>
