<div class="w-[280px] lg:w-[600px] p-5">
  <!-- header -->
  <div
    class="flex p-2 justify-between items-center font-medium border-b-2 border-primary"
  >
    <span>Assessment Title: {{ data.title }}</span>
    <span>No.Questions : {{ data.questions.length }}</span>
  </div>

  <!-- quiz area -->
  <div class="mt-3 p-2 w-full" *ngIf="index < data.questions.length">
    <h2 class="text-2xl font-medium">{{ data.questions[index].question }}</h2>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="flex flex-col text-gray-700 gap-3 w-full mt-3"
      color="primary"
      [(ngModel)]="selectedAnswer"
    >
      <mat-radio-button [value]="data.questions[index].answer1">
        {{ data.questions[index].answer1 }}
      </mat-radio-button>
      <mat-radio-button [value]="data.questions[index].answer2">
        {{ data.questions[index].answer2 }}
      </mat-radio-button>
      <mat-radio-button [value]="data.questions[index].answer3">
        {{ data.questions[index].answer3 }}
      </mat-radio-button>
      <mat-radio-button [value]="data.questions[index].answer4">
        {{ data.questions[index].answer4 }}
      </mat-radio-button>
    </mat-radio-group>
    <div class="text-center mt-4">
      <button
        mat-flat-button
        class="w-10/12"
        color="primary"
        [disabled]="!selectedAnswer"
        (click)="nextQuesrion()"
      >
        {{ index == data.questions.length - 1 ? "Submit" : "Next" }}
      </button>
    </div>
  </div>
  <div
    class="p-5 flex flex-col items-center justify-center gap-2"
    *ngIf="index == data.questions.length"
  >
    <span class="text-xl">You Scored </span>
    <span class="text-2xl text-primary font-medium my-4"
      >{{ score }} / {{ data.questions.length }}</span
    >
    <button mat-flat-button [matDialogClose]="">
      <span class="font-semibold">OK</span>
    </button>
  </div>
</div>
