<button
  mat-fab
  class="fixed object-right-bottom"
  color="primary"
  aria-label="Add Document"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>
<div
  class="grid grid-cols-1 md:grid-cols-2 justify-center items-center xl:grid-cols-3 gap-2 p-5"
>
  <mat-card class="p-5" *ngFor="let course of coursesList">
    <img
      matCardImage
      class="w-80 aspect-video"
      src="assets/illustrations/ill-3.svg"
    />
    <mat-card-header>
      <mat-card-title>{{ course["name"] }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="min-w-fit my-3"
      ><p class="line-clamp-2">
        {{ course["description"] }}
      </p></mat-card-content
    >
    <mat-card-actions class="flex justify-between">
      <div class="flex items-center justify-start text-xs text-gray-500">
        <mat-icon class="mat-15 mr-1">menu_book</mat-icon>
        <span>12 Module</span>
      </div>
      <a
        mat-flat-button
        color="primary"
        [routerLink]="['/course', course['id']]"
        >See details</a
      >
    </mat-card-actions>
  </mat-card>
</div>
